/*rank css for Harakim*/
i.har {
    font-style: bold;
    font-variant: small-caps;
    color: #f97f99;
    font-family: "Apple Chancery", cursive;
    background-color: transparent;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #76ff54, 0 0 4px #76ff54, 0 0 5px #76ff54, 0 0 6px #76ff54, 0 0 7px #76ff54
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #3eff0f, 0 0 4px #3eff0f, 0 0 5px #3eff0f, 0 0 6px #3eff0f, 0 0 7px #a56430, 0 0 8px #a56430
  }
}
    
i.hay { 
    font-style: normal;
    color: #ff0;
}
i.hay::before { content: "["; }
i.hay::after { content: "] "; }
